.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    
    box-sizing: border-box;
}
.containerRight{
    /* border: 1px solid red; */
    box-sizing: border-box;
    
    
}
.innerRight{
    display: flex;
    position: relative;
    overflow: hidden;
}
.innerRight  img{
    width: 50vw;
    height: 100vh;
}
.pizzaImg{
    position: absolute;
    top: 2px;
    right: -6px;
    z-index: -1;
}
.vectorImg{
    margin-top: -1.5px;
}