.container {
    background: rgba(248, 248, 248, 1);
    padding: 2rem;
    padding: 6rem 6rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}



.imgDiv img {
    width: 11rem;
    height: 8rem;
}

.container h3 {
    color: rgba(14, 35, 104, 1);
    font-size: 18px;
}

.imgDiv {
    justify-content: center;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.contactDiv p {
    color: rgba(100, 104, 116, 1);
    letter-spacing: 1px;
}

.contactDiv {
    gap: 0.8rem;
    line-height: 26px;
    font-size: 14px;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.moreDiv {
    gap: 1rem;
    padding: 0 6rem;
    box-sizing: border-box;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.moreDiv ul {
    list-style-type: none;

}

.moreDiv ul li {
    font-size: 14px;
    margin-bottom: 1.5rem;
    color: rgba(100, 104, 116, 1);
}

.linkDiv {
    padding: 0rem 4rem;
    box-sizing: border-box;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.linkDiv p {
    color: rgba(100, 104, 116, 1);
    position: absolute;
    bottom: 119px;
    right: 11.5rem;

}

.linkDiv div {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

@media only screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        width: 100vw;
        padding: 0px;
    }

    .imgDiv {
        align-items: center;
        width: inherit;
    }

    .container>div {
        width: -webkit-fill-available;
    }

    .imgDiv img {
        width: 7rem;
        height: 5rem;
        margin: 4rem 0;
    }

    .contactDiv {
        padding-left: 4rem;
        padding-right: 1rem;
        margin-bottom: 3rem;
    }

    .contactDiv p {
        font-size: 11px;
    }

    .moreDiv {
        padding: 0 4rem;
    }

    .moreDiv ul li {
        font-size: 12px;
    }

    .linkDiv {
        align-items: center;
        margin: 2rem 0;
    }

    .linkDiv h3 {
        display: none;
    }

   

    .linkDiv p {
        margin-bottom: 18px;
        font-size: 12px;
        bottom: 53px;
        right: auto;
    }

}